.sidebar_main {
    padding: 40px;
    padding-left: 0 !important;
}

.sname {
    font-weight: bold;
    font-size: 30px;
}

.active {
    background-color: #63779b;

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

}

.all_links {
    li {
        &:hover {
            background-color: #63779ba9;

            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;

        }
    }
}

// hover:bg-[] 